.Title {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 1em;
    margin-bottom: 2em;
    background-color: rgb(26, 84, 192);
    color: #fff;
  }
  h1 {
    font-size: 40px;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace, cursive;
    color: #fff;
    font-weight:bolder;
  }
  